*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: sans-serif;
    font-size: 20px;
    background-color: #EDE8D0;
    color: var(--text-color);

    --main-color: #C9C5B1;
    --text-color: hsl(0, 0%, 20%);
}

header {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 2px solid hsl(50, 5%, 65%);
}

h1 {
    padding: 10px 10px 10px 20px;
}

.header-link {
    text-decoration: none;
    color: var(--text-color);
    align-content: center;
    padding: 10px 20px;
}

.header-link:hover {
    background-color: #787569;
    color: lightgray;
}

.book-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
}

.book-card {
    background: var(--main-color);
    padding: 20px;
    border-radius: 10px;
    flex: 0 0 200px;
    min-height: 275px;
    box-shadow: 0 0 10px -2px var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: scale(1);
    transition: transform 0.5s;
}

.book-card:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.book-card .author-prefix,
.book-card .author-first-name,
.book-card .pages,
.book-card .status-prefix {
    display: none;
}

.book-card h2 {
    margin-bottom: 15px;
}

.book-card[data-status="PlanToRead"] {
    background: linear-gradient(90deg, #9E5B52 10px, var(--main-color) 10px);
}

.book-card[data-status="Reading"] {
    background: linear-gradient(90deg, #B88A44 10px, var(--main-color) 10px);
}

.book-card[data-status="Finished"] {
    background: linear-gradient(90deg, #607055 10px, var(--main-color) 10px);
}

.details-button {
    display: block;
    background-color: transparent;
    margin: auto auto 0;
    border: 2px solid #787569;
    border-radius: 10px;
    padding: 5px 10px;
    color: var(--text-color);
    font-size: 0.7rem;
}

.details-button:hover {
    cursor: pointer;
    color: lightgray;
    background-color: #787569;
}